body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.4;
    color: #333;
    /* Text color */
    /* background-color: #f5f5f5; */
}

body.dark-theme {
    /* Dark theme styles */
    color: #fff;
    /* Text color */
    background-color: #222;
    /* Background color */
}

header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 999;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.toggle-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.toggle-container::after {
    content: "Switch to Dark Theme";
    position: absolute;
    top: 0px;
    left: -10px;
    transform: translateX(-100%);
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    white-space: nowrap;
}

body.dark-theme .toggle-container::after {
    content: "Switch to Light Theme";
    background-color: #fff;
    color: #333;
}

.toggle-container:hover::after {
    opacity: 1;
    visibility: visible;
}

.toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.theme-toggle:checked+.toggle-label {
    background-color: #fff;
}

.theme-toggle:checked+.toggle-label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translateX(20px);
}

.theme-toggle:checked+.toggle-label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 22px;
    width: 16px;
    height: 16px;
    background-color: #000;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translateX(0);
}

.theme-toggle:not(:checked)+.toggle-label:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #000;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translateX(0);
}

.theme-toggle:not(:checked)+.toggle-label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 22px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translateX(-20px);
}

/* Set the cover image */
/* Cover image styles */
.cover-image-holder {
    position: relative;
    width: auto;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cover-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

/* Overlay styles */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: left;
}

.dark-mode-link {
    position: absolute;
    top: 5px;
    right: 5px;
    text-align: center;
}

.dark-mode-link a {
    color: #ccc;
    text-decoration: none;
}

.dark-mode-link a:hover {
    text-decoration: underline;
}

.loaded {
    display: none;
}

.load-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(192, 192, 192, 0.7);
    z-index: -1;
    overflow: hidden;
}

.activity {
    position: absolute;
    left: -45%;
    height: 100%;
    width: 45%;
    background-image: linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    background-image: -moz-linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    background-image: -webkit-linear-gradient(to left, rgba(251, 251, 251, .05), rgba(251, 251, 251, .3), rgba(251, 251, 251, .6), rgba(251, 251, 251, .3), rgba(251, 251, 251, .05));
    animation: loading 1s infinite;
    z-index: 45;
}

@keyframes loading {
    0% {
        left: -45%;
    }

    100% {
        left: 100%;
    }
}

/* Header and contact info overlay styles */

/* Name and designation styles */
.name-designation {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    color: #fff;
}

/* Contact information styles */
.contact-info {
    margin: 20px;
    text-align: right;
}

.contact-info p {
    color: #fff;
}

/* Resume layout styles */
.resume-container {
    position: relative;
    margin: 0 auto;
    padding: 20px;
}


.download-button {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #ccc;
    border-radius: 50%;
    color: #fff;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.download-button img {
    width: 24px;
    height: 24px;
    fill: #fff;
}

.download-button::after {
    content: "Download Resume";
    position: absolute;
    bottom: 20%;
    left: -10px;
    transform: translateX(-100%);
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    white-space: nowrap;
}

body.dark-theme .download-button::after {
    background-color: #fff;
    color: #333;
}

.download-button:hover::after {
    opacity: 1;
    visibility: visible;
}

body.dark-theme .download-button {
    background-color: #fff
}

body.dark-theme .bottom-bar {
    background-color: rgb(129, 180, 233);
}

body.dark-theme .section {
    border-bottom: 5px solid rgb(129, 180, 233);
}

/* Bottom bar styles */
.bottom-bar {
    background-color: rgb(24, 88, 139);
    height: 5px;
    margin-bottom: 5px;
}

/* Section styles */
.section {
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 5px solid rgb(24, 88, 139);
}

.section:last-child {
    border-bottom: none;
}

.summary-list {
    padding-left: 20px;
    list-style: disc;
    margin-top: 0px !important;
}

body.dark-theme .icon-list {
    background: #ccc;
}

.icon-list {
    list-style-type: none;
    background: #f5f5f5;
    margin-top: 0px !important;
    padding: 2px;
    margin-left: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}

.icon-list li {
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.dark-theme .icon-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ccc;
    border-radius: 2px;
    padding: 1px;
}

.icon-list li img {
    width: 25px;
    height: 25px;
}

.icon-list li:hover img {
    transform-origin: bottom;
    animation: scale 300ms ease-in-out both;
}

@keyframes scale {
    to {
        transform-origin: bottom;
        background-color: #ccc;
        border-radius: 5px;
        padding: 2px;
        transform: scale(1.8);
    }
}

/* Heading styles */
h1,
h2,
h3,
h4 {
    color: rgb(24, 88, 139);
}

body.dark-theme h1,
body.dark-theme h2,
body.dark-theme h3,
body.dark-theme h4 {
    color: rgb(129, 180, 233);
}


/* Work experience styles */
.work-experience {
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
}

.image-placeholder {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    margin-right: 5px;
}

.work-details {
    display: flex;
    align-items: center;
}

.work-details span {
    margin-left: 5px;
}

/* Skills styles */
.skills {
    color: #333;
}

body.dark-theme .skills {
    background-color: #222;
    color: #fff;
}

.skills ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.skills li {
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    color: inherit;
    background-color: #f5f5f5;
}

body.dark-theme .skills li {
    background-color: #222;
}

footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    padding: 10px 0;
}

footer p {
    margin: 0;
    font-size: 12px;
    color: #595959;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
    .work-experience {
        grid-template-columns: 1fr;
        
    }
    .resume-container {
        width: 100%;
        max-width: 100%;
        padding: 0px;
        margin: 0;
      }
      .section{
        padding: 0 10px;
      }
}

@media only screen and (min-width: 1025px) {
    .resume-container {
        max-width: 800px; 
    }
}

/* Print styles */
@media print {
    @page {
        size: A4;
        margin: 20mm;
    }

    body {
        background-color: #fff;
    }

    .bottom-bar {
        display: none;
    }
}


  